h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-family: cursive;
    background-color: rgb(0, 0, 0);
}
html{
    background-color: rgb(0, 0, 0);
}
p{
    color: #ffffff;
    font-family: cursive;
    font-size: 30px;
}
button {
    background-color: #ffffff; /*  */
    border: none;
    color: 
    rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  ol{
    color: #ffffff;
    font-size: 40px;
  }
  .button{
    color: #ffffff;
  }
 

